In [14]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("uciml/default-of-credit-card-clients-dataset")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\tabbo\.cache\kagglehub\datasets\uciml\default-of-credit-card-clients-dataset\versions\1

In [15]:
from pathlib import Path
import pandas as pd

# pandas options
pd.set_option("display.max_columns", 200)

# 2. Исследовательский анализ данных (EDA)
## 2.1 Описание набора данных
Я буду проводить свое исследование на наборе данных [Default of Credit Card Clients Dataset](https://www.kaggle.com/datasets/uciml/default-of-credit-card-clients-dataset) с сайта [kaggle](https://www.kaggle.com/). Он содержит данные наблюдений, собранных банком на Тайване по пользователям кредитных карт в период с апреля по сентябрь 2005 года. В качестве целевой переменной в наборе используется бинарная переменная `default.payment.next.month`. Она указывает, допустит ли владелец карты дефолт в следующем месяце. Далее в качестве объясняющих переменных используются следующие 23 признака:

* Личная информация клиента:
    * `LIMIT_BAL` - сумма предоставленного кредитного лимита (в новых тайваньских долларах - NT$).
    * `SEX` - пол: 1 - мужской, 2 - женский.
    * `EDUCATION` - образование: 1 - магистратура/аспирантура, 2 - университет, 3 - средняя школа, 4 - другое, 5 и 6 - неизвестно.
    * `MARRIAGE` - семейное положение: 1 - женат/замужем, 2 - холост/не замужем, 3 - другое.
    * `AGE` - возраст (лет).
* Информация о статусах погашения платежей:
    * `PAY_0` - статус погашения в сентябре 2005г.
    * `PAY_2` - статус погашения в августе 2005г.
    * `PAY_3` - статус погашения в июле 2005г.
    * `PAY_4` - статус погашения в июне 2005г.
    * `PAY_5` - статус погашения в мае 2005г.
    * `PAY_6` - статус погашения в апреле 2005г.

> Набор данных содержит следующие статусов: -1 - своевременная оплата, 1 - задержка платежа на один месяц, 2 - задержка платежа на два месяца, ..., 8 - задержка платежа на восемь месяцев, 9 - задержка платежа на девять и более месяцев.

* Информация о балансовых остатках:
    * `BILL_AMT1` - остаток по счету за сентябрь 2005г.
    * `BILL_AMT2` - остаток по счету за август 2005г.
    * `BILL_AMT3` - остаток по счету за июль 2005г.
    * `BILL_AMT4` - остаток по счету за июнь 2005г.
    * `BILL_AMT5` - остаток по счету за май 2005г.
    * `BILL_AMT6` - остаток по счету за апрель 2005г.

* Информация о сумме предыдущего платежа:
    * `PAY_AMT1` - сумма предыдущего платежа в сентябре 2005 г.
    * `PAY_AMT2` - сумма предыдущего платежа в августе 2005 г.
    * `PAY_AMT3` - сумма предыдущего платежа в июле 2005 г.
    * `PAY_AMT4` - сумма предыдущего платежа в июне 2005 г.
    * `PAY_AMT5` - сумма предыдущего платежа в мае 2005 г.
    * `PAY_AMT6` - сумма предыдущего платежа в апреле 2005 г.

Ниже представлен пример того как выглядит набор данных. Сразу для удобства переименуем переменную `default.payment.next.month` в `DEAFULT`, а переменную `PAY_0` в `PAY_1` и приведем все наименования столбцов к верхнему регистру.

In [16]:
df = pd.read_csv(Path(path) / "UCI_Credit_Card.csv", index_col="ID")
df.rename(columns={"default.payment.next.month": "DEFAULT", "PAY_0": "PAY_1"}, inplace=True)
df.rename(columns=lambda x: x.upper(), inplace=True)
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
ID,,,,,,,,,,,,,,,,,,,,,,,,
1,20000.0,2,2,1,24,2,2,-1,-1,-2,-2,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
2,120000.0,2,2,2,26,-1,2,0,0,0,2,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
3,90000.0,2,2,2,34,0,0,0,0,0,0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
4,50000.0,2,2,1,37,0,0,0,0,0,0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
5,50000.0,1,2,1,57,-1,0,-1,0,0,0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [17]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 30000 entries, 1 to 30000
Data columns (total 24 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LIMIT_BAL  30000 non-null  float64
 1   SEX        30000 non-null  int64
 2   EDUCATION  30000 non-null  int64
 3   MARRIAGE   30000 non-null  int64
 4   AGE        30000 non-null  int64
 5   PAY_1      30000 non-null  int64
 6   PAY_2      30000 non-null  int64
 7   PAY_3      30000 non-null  int64
 8   PAY_4      30000 non-null  int64
 9   PAY_5      30000 non-null  int64
 10  PAY_6      30000 non-null  int64
 11  BILL_AMT1  30000 non-null  float64
 12  BILL_AMT2  30000 non-null  float64
 13  BILL_AMT3  30000 non-null  float64
 14  BILL_AMT4  30000 non-null  float64
 15  BILL_AMT5  30000 non-null  float64
 16  BILL_AMT6  30000 non-null  float64
 17  PAY_AMT1   30000 non-null  float64
 18  PAY_AMT2   30000 non-null  float64
 19  PAY_AMT3   30000 non-null  float64
 20  PAY_AMT4   30000 non-null  float64
 21  PAY_AMT5   30000 non-null  float64
 22  PAY_AMT6   30000 non-null  float64
 23  DEFAULT    30000 non-null  int64
dtypes: float64(13), int64(11)
memory usage: 5.5 MB

In [18]:
df["DEFAULT"].value_counts(dropna=False, normalize=True).mul(100).round(2).sort_index()

DEFAULT
0    77.88
1    22.12
Name: proportion, dtype: float64

## 2.2 Очистка данных
### 2.2.1 Личная информация клиента
Ниже приведена описательная статистика характеристик личной информации клиента. К этой категории отнесены: сумма предоставленного кредитного лимита (`LIMIT_BAL`), пол (`SEX`), образование (`EDUCATION`), семейное положение (`MARRIAGE`) и возраст (`AGE`). Выше я уже приводил описание каждого поля, но для признака `EDUCATION` и `MARRIAGE` неизвестный нам код 0.

In [26]:
personal_info_cols = ["LIMIT_BAL", "SEX", "EDUCATION", "MARRIAGE", "AGE"]
df[personal_info_cols].describe(percentiles=[.01, .05, .5, .95, .99])

            LIMIT_BAL           SEX     EDUCATION      MARRIAGE           AGE
count    29946.000000  29946.000000  29946.000000  29946.000000  29946.000000
mean    167546.573165      1.603486      1.852167      1.554665     35.481300
std     129807.831678      0.489182      0.783801      0.518259      9.218413
min      10000.000000      1.000000      1.000000      1.000000     21.000000
1%       10000.000000      1.000000      1.000000      1.000000     22.000000
5%       20000.000000      1.000000      1.000000      1.000000     23.000000
50%     140000.000000      2.000000      2.000000      2.000000     34.000000
95%     430000.000000      2.000000      3.000000      2.000000     53.000000
99%     500000.000000      2.000000      5.000000      3.000000     60.000000
max    1000000.000000      2.000000      5.000000      3.000000     79.000000

In [20]:
df["EDUCATION"].value_counts(dropna=False).sort_index()

EDUCATION
0       14
1    10585
2    14030
3     4917
4      123
5      280
6       51
Name: count, dtype: int64

In [21]:
df["MARRIAGE"].value_counts(dropna=False).sort_index()

MARRIAGE
0       54
1    13659
2    15964
3      323
Name: count, dtype: int64

Наблюдений с неизвестным нам кодом крайне мало. Лучшим вариантом было бы уточнить природу происхождения таких данных. Мы же можем их удалить из выборки или отнести к другим группам.

In [22]:
print("Изначальный объем набора данных:", len(df))
# Объединим группы 5, 6 и 0 для образования
df["EDUCATION"] = df["EDUCATION"].replace({0: 5, 6: 5})

# Группу с неизвестным нам полом удалим из выборки
df = df.drop(df[df["MARRIAGE"] == 0].index)
print("Конечный объем набора данных:", len(df))

Изначальный объем набора данных: 30000
Конечный объем набора данных: 29946

### 2.2.2 Информация о статусах погашения платежей
Мы можем наблюдать, что все платежи содержат неизвестные нам статусы -2 и 0. В обсуждениях к данному набору данных я нашел [такой комментарий](https://www.kaggle.com/datasets/uciml/default-of-credit-card-clients-dataset/discussion/34608#298207), который объясняет эти статусы. Статус -2 означает, что задолженность полностью оплачена и транзакций на этот период не было (можно считать, что кредитная карта за этот период была неактивной), 0 означает, что клиент оплатил минимальную сумму, но не весь платеж.

In [27]:
status_payments_cols = [f"PAY_{i}" for i in range(1, 7, 1)]
df[status_payments_cols].describe(percentiles=[.01, .05, .5, .95, .99])

,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6
count,29946.000000,29946.000000,29946.000000,29946.000000,29946.000000,29946.000000
mean,-0.016430,-0.133641,-0.166132,-0.220397,-0.265945,-0.290857
std,1.123467,1.196968,1.196428,1.168882,1.133029,1.149773
min,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000
1%,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000
5%,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
95%,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
99%,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
max,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000

In [44]:
(df[status_payments_cols] == 0).sum(axis=0)

PAY_1    14717
PAY_2    15708
PAY_3    15745
PAY_4    16436
PAY_5    16922
PAY_6    16265
dtype: int64

Статус платежа с кодом 0 можно отнести к статусу своевременной оплаты, т.к. при внесении любого из этих платежей клиент остается "хорошим". Также дополнительно сформируем признак, состоящий из платежной дисциплины, где "-" обозначает, что в этот период заемщик не пользовался кредитными денежными средствами, "A" обозначает, что задолженность погашена своевременно и "M" обозначает внесение минимального платежа.

In [47]:
# Платежная дисциплина
df["PAYMENT_PATTERN"] = df[status_payments_cols].astype(str).replace({"-2": "-", "-1": "A", "0": "M"}).sum(axis=1)
df[status_payments_cols] = df[status_payments_cols].replace({0: -1})

### 2.2.3 Информация о балансовых остатках

In [53]:
bill_amt_cols = [f"BILL_AMT{i}" for i in range(1, 7, 1)]
df[df["PAY_3"] == -1]

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT,PAYMENT_PATTERN
ID,,,,,,,,,,,,,,,,,,,,,,,,,
1,20000.0,2,2,1,24,2,2,-1,-1,-2,-2,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1,22AA--
2,120000.0,2,2,2,26,-1,2,-1,-1,-1,2,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1,A2MMM2
3,90000.0,2,2,2,34,-1,-1,-1,-1,-1,-1,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0,MMMMMM
4,50000.0,2,2,1,37,-1,-1,-1,-1,-1,-1,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0,MMMMMM
5,50000.0,1,2,1,57,-1,-1,-1,-1,-1,-1,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0,AMAMMM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,100000.0,1,1,2,38,-1,-1,-1,-1,-1,-1,3042.0,1427.0,102996.0,70626.0,69473.0,55004.0,2000.0,111784.0,4000.0,3000.0,2000.0,2000.0,0,MAAMMM
29996,220000.0,1,3,1,39,-1,-1,-1,-1,-1,-1,188948.0,192815.0,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0,MMMMMM
29997,150000.0,1,3,2,43,-1,-1,-1,-1,-1,-1,1683.0,1828.0,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0,AAAAMM
29999,80000.0,1,3,1,41,1,-1,-1,-1,-1,-1,-1645.0,78379.0,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1,1AMMMA
30000,50000.0,1,2,1,46,-1,-1,-1,-1,-1,-1,47929.0,48905.0,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1,MMMMMM