In [1]:
from unittest.mock import inplace

import kagglehub

# Download latest version
path = kagglehub.dataset_download("uciml/default-of-credit-card-clients-dataset")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\tabbo\.cache\kagglehub\datasets\uciml\default-of-credit-card-clients-dataset\versions\1

In [80]:
from pathlib import Path
import pandas as pd

# pandas options
pd.set_option("display.max_columns", 200)

# 2. Исследовательский анализ данных (EDA)
## 2.1 Описание набора данных
Я буду проводить свое исследование на наборе данных [Default of Credit Card Clients Dataset](https://www.kaggle.com/datasets/uciml/default-of-credit-card-clients-dataset) с сайта [kaggle](https://www.kaggle.com/). Он содержит данные наблюдений, собранных банком на Тайване по пользователям кредитных карт в период с апреля по сентябрь 2005 года. В качестве целевой переменной в наборе используется бинарная переменная `default.payment.next.month`. Она указывает, допустит ли владелец карты дефолт в следующем месяце. Далее в качестве объясняющих переменных используются следующие 23 признака:

* Личная информация клиента:
    * `LIMIT_BAL` - сумма предоставленного кредитного лимита (в новых тайваньских долларах - NT$).
    * `SEX` - пол: 1 - мужской, 2 - женский.
    * `EDUCATION` - образование: 1 - магистратура/аспирантура, 2 - университет, 3 - средняя школа, 4 - другое, 5 и 6 - неизвестно.
    * `MARRIAGE` - семейное положение: 1 - женат/замужем, 2 - холост/не замужем, 3 - другое.
    * `AGE` - возраст (лет).
* Информация о статусах погашения платежей:
    * `PAY_0` - статус погашения в сентябре 2005г.
    * `PAY_2` - статус погашения в августе 2005г.
    * `PAY_3` - статус погашения в июле 2005г.
    * `PAY_4` - статус погашения в июне 2005г.
    * `PAY_5` - статус погашения в мае 2005г.
    * `PAY_6` - статус погашения в апреле 2005г.

> Набор данных содержит следующие статусов: -1 - своевременная оплата, 1 - задержка платежа на один месяц, 2 - задержка платежа на два месяца, ..., 8 - задержка платежа на восемь месяцев, 9 - задержка платежа на девять и более месяцев.

* Информация о балансовых остатках:
    * `BILL_AMT1` - остаток по счету за сентябрь 2005г.
    * `BILL_AMT2` - остаток по счету за август 2005г.
    * `BILL_AMT3` - остаток по счету за июль 2005г.
    * `BILL_AMT4` - остаток по счету за июнь 2005г.
    * `BILL_AMT5` - остаток по счету за май 2005г.
    * `BILL_AMT6` - остаток по счету за апрель 2005г.

* Информация о сумме предыдущего платежа:
    * `PAY_AMT1` - сумма предыдущего платежа в сентябре 2005 г.
    * `PAY_AMT2` - сумма предыдущего платежа в августе 2005 г.
    * `PAY_AMT3` - сумма предыдущего платежа в июле 2005 г.
    * `PAY_AMT4` - сумма предыдущего платежа в июне 2005 г.
    * `PAY_AMT5` - сумма предыдущего платежа в мае 2005 г.
    * `PAY_AMT6` - сумма предыдущего платежа в апреле 2005 г.

Ниже представлен пример того как выглядит набор данных. Сразу для удобства переименуем переменную `default.payment.next.month` в `DEAFULT`, а переменную `PAY_0` в `PAY_1` и приведем все наименования столбцов к верхнему регистру.

In [79]:
df = pd.read_csv(Path(path) / "UCI_Credit_Card.csv", index_col="ID")
df.rename(columns={"default.payment.next.month": "DEFAULT", "PAY_0": "PAY_1"}, inplace=True)
df.rename(columns=lambda x: x.upper(), inplace=True)
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
ID,,,,,,,,,,,,,,,,,,,,,,,,
1,20000.0,2,2,1,24,2,2,-1,-1,-2,-2,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
2,120000.0,2,2,2,26,-1,2,0,0,0,2,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
3,90000.0,2,2,2,34,0,0,0,0,0,0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
4,50000.0,2,2,1,37,0,0,0,0,0,0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
5,50000.0,1,2,1,57,-1,0,-1,0,0,0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0